<html>
    <head>
        <title>You Moved</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
        <link href="/favicon.ico" rel="icon">
        <style type="text/css">

            body {
                background-color: <%= color%>;
            }

            .main {
                /* specified by Yo Guidelines */
                font-family: Montserrat;
                font-weight: 700;
                font-size: 89px;
                color: #fff;

                /* Positioning */
                width: 100%;
                text-align: center;
                padding-top: 5%;
            }

        </style>
    </head>
    <body>
        <div class="main"><%=text %></div>
    </body>
</html>
